
milab/challenges.dat
milab/games.log
milab/q3config.cfg
milab/uieskirmish.dat
milab/q3key
pk3cache.dat
milab/q3history
/qsandbox_default/windows/baseoa
/qsandbox_default/windows/build/cgame
/qsandbox_default/windows/build/game
/qsandbox_default/windows/build/q3_ui
/qsandbox_default/windows/build
/qsandbox_default/windows/baseoa/vm
/qsandbox_default/windows/baseoa/vm
